.special-menu {
    background: {
        image: url('special-irish.jpg');
    };
}

.parallax-section-special {
    background: url('./special-irish.jpg') no-repeat left;

    .inner-container-special {
        float: right;
    }
}
