@import '../../style/abstract/media';

.Reservation {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .97);
    z-index: 9999;

    &-Comment {
        background: 0 0 !important;
        border: 0;
        color: #fff;
        width: 100%;
        font-size: 100%;
        border-bottom: 1px solid #e1e1e1;
        margin: 0;
        height: 100px;
        overflow: auto;
        padding: 13px 10px;
        outline: none;
        box-sizing: border-box;
        -webkit-appearance: none;
        border-radius: 5px;
    }

    &-Note {
        width: 100% !important;

        input {
            width: 100%;
        }
    }

    &-Message {
        &-Error {
            color: var(--notification-alert);
        }

        &-Success {
            color: var(--notification-success);
        }

        &-Pending {
            color: var(--notification-pending);
        }
    }

    &-Wrapper {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);

        @include media(mobile, tablet) {
            width: 100%;
            height: 100%;
        }
    }

    &-Box {
        position: relative;
        border: 1px solid var(--bs-white);
        width: 700px;
        margin: auto;
        text-align: center;
        padding: 30px;
        border-radius: 5px;

        h2 {
            font-size: calc(20px + 2vw);

            .Headline {
                font-weight: 800;
            }
        }

        @include media(mobile, tablet) {
            overflow-y: scroll;
            overflow-x: hidden;
            height: 100%;
            width: 100%;
        }

        &-Submit {
            width: 100%;
            margin-top: 10px;
            float: right;
            clear: both;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }

    &-Group {
        color: var(--bs-white);
        width: 30.66%;
        float: left;
        margin-top: 20px;
        margin-right: 4%;
        position: relative;
        box-sizing: border-box;

        @include media(mobile, tablet) {
            width: 100%;
            margin-bottom: 3%;
            margin-right: 0;
        }
    }

    .Input-Last {
        margin-right: 0 !important;
        float: right;
        width: 30.66%;

        @include media(mobile, tablet) {
            width: 100%;
            margin-bottom: 3%;
        }
    }
}
