.Reservation {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    z-index: 9999;

    &-Box {
        border: 1px solid var(--bs-white);
    }
}
