.food-menu {
    position: relative;
    //margin-top: 70px;
    //@media screen and (max-width: 750px) {
    //    margin-top: 10px;
    //}
    background: {
        image: url('./foodMenu.jpg');
    }
}

.Product-List-Container {
    @media screen and (min-width: 1050px) {
        columns: 2 auto;
    }
}

.allergy-notice {
    text-align: center;
}

.Skeleton-Wrapper {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
}

.Skeleton-Wrapper-Product {
    grid-template-columns: 1fr 1fr;
    @media screen and (max-width: 900px) {
        grid-template-columns: 1fr;
    }
}
