@import '../../style/abstract/variables';

:root {
  --notification-alert: var(--imported-notification-alert, #{$notification-alert});
  --notification-info: var(--imported-notification-info, #{$notification-info});
  --notification-success: var(--imported-notification-success, #{$notification-success}); }

@keyframes fireNotification {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-120px); }}

@keyframes hideNotification {
  0% {
    transform: translateY(-120px);
    transition: all 500ms; }
  100% {
    transform: translateY(0);
    transition: all 500ms; }}

.Notification {
  position: fixed;
  bottom: -100px;
  z-index: 9999;
  right: 20px;
  width: 250px;
  font-size: 12px;
  padding: 0 10px;
  border-radius: 10px;
  color: #fff; }

.fireNotification {
  animation: fireNotification 1500ms cubic-bezier(0.79,-0.15, 0.03, 1.07) forwards; }

.hideNotification {
  animation: hideNotification 1500ms cubic-bezier(0.79,-0.15, 0.03, 1.07) forwards; }
