.Product {
  &-Title {
    text-transform: uppercase;
    font-weight: 500; }

  &-Description {
    font-size: 13px;
    color: var(--auxiliary-color-lightener); }

  &-Image {
    height: 55px;
    width: 55px;
    border-radius: 50% 50%;
    margin-right: 15px; }}
