@import '../../style/abstract/media';

.Header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1111;
    min-height: 3em;
    background: var(--primary-base-color);
    color: var(--bs-white);

    &-Details {

    }

    &-Social {
        @include mobile {
            width: 100% !important;
            padding: 0 !important;
            margin: 0 !important;
            text-align: center;
            display: none;
        }
    }
}
