.Header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    min-height: 40px;
    font-size: 14px;
    color: var(--white);
    background: rgba(var(--primary-base-color), .85);
    @media screen and (max-width: 1300px) {
        padding: 10px 0;

        .header-venue-address {
            width: 200px;
            display: block;
        }
    }

    @media screen and (max-width: 600px) {
        .language-button {
            width: 1px;
            display: inline-block;
        }
    }

    .language-switcher,
    span {
        cursor: pointer;
    }

    .container,
    .row {
        min-height: inherit;
    }
}

.header-social-network {
    font-size: 19px;
}
