@import '../../style/abstract/media';

.Header {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1111;
    min-height: 40px;
    background: var(--primary-base-color);
    color: var(--bs-white);
    display: flex;
    align-items: center;
    transition: all 500ms;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);

    &-Short {
        display: none;
    }

    @include media(mobile, tablet) {
        padding: env(safe-area-inset-top) env(safe-area-inset-right) 0 env(safe-area-inset-left);
    }

    &-Social {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 19px;

        @include mobile {
            width: unset;
            margin: 0 auto;
            text-align: center;
            padding-top: .4rem;
            padding-bottom: .4rem;
        }

        &-Link {
            padding: 0 10px;
        }
    }

    &-Details-Link {
        margin-right: 1rem;

        @include media(mobile, tablet) {
            display: block;
            padding: .4rem 0;
            margin-right: 0;
        }

        @include mobile {
            text-align: center;
        }

        @include tablet {
            text-align: left;
        }
    }

    &-Details-Text {
        margin-left: 1rem;
    }
}
