.starters-menu {
  background: {
    image: url('starters.jpg'); };}
.parallax-section-starters {
  background: url('./starters.jpg') no-repeat left;
  .inner-container-starters {
    float: right; }}
