.Hero {
    position: relative;
    color: var(--bs-white);

    &-Caption {
        position: absolute;
        z-index: 2;
        bottom: 35%;
        width: 100%;
        transform: translateY(50%);
    }

    &-Image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &-Text {
        line-height: 2;
        text-transform: uppercase;
    }
}
