@import '../../style/abstract/helpers';

.parallax-section-contact {
    background: url('./contact.jpg') no-repeat right;

    @media screen and (min-width: 999px) and (max-width: 1199px) {
        padding: 0 40px !important;
    }

    .hidden {
        display: none;
    }

    .inner-container-contact {
        padding: 40px !important;
        float: left;

        .contact-notification {
            display: flex;
            @include justify-content(space-between);
            padding: 10px 10px;
            font-size: 12px;
            color: #fff;
        }

        .error {
            background: var(--notification-alert);
        }

        .success {
            background: var(--notification-success);
        }
    }
}
