$primary-base-color: hsl(34, 50%, 63%);
$primary-dark-color: hsl(0, 0%, 20%);
$primary-light-color: hsl(0, 0%, 60%);
$bs-black: hsl(0, 0%, 0%);
$bs-white: hsl(0, 0%, 100%);

$secondary-base-color: hsl(0, 0%, 11%);
$secondary-dark-color: hsl(0, 0%, 15%);
$secondary-light-color: hsl(0, 0%, 88%);

$button-disabled-color: #242c42;

$auxiliary-color-lightener: #424242;

$notification-alert: hsl(1, 100%, 63%);
$notification-info: hsl(217, 100%, 61%);
$notification-success: hsl(151, 68%, 47%);

$primary-font-family: 'Lato', 'Helvetica Neue', 'Arial', 'Verdana', sans-serif;
$secondary-font-family: 'Kristi', 'Arial', sans-serif;

$section-spacing: 2em;
