$primary-base-color: 207, 166, 112; /* #cfa670 */
$primary-dark-color: #333333;
$primary-light-color: #999999;

$secondary-base-color: #1b1b1b;
$secondary-dark-color: #262626;
$secondary-light-color: #e1e1e1;

$auxiliary-color-lightener: #424242;

$white: #ffffff;
$black: 0, 0, 0; /* #000000 */

$notification-alert: #ff4642;
$notification-info: #3884ff;
$notification-success: #26cb7c;

$primary-font-family: (

);
$secondary-font-family: 'Kristi', Arial, sans-serif;
