.Language {
    position: absolute;
    right: 0;
    top: 100%;
    background: var(--bs-white);
    box-shadow: 0 0 40px rgb(0 0 0 / 25%);
    box-sizing: border-box;
    margin-top: 12px;
    padding: 30px 30px 14px 20px;
    transform: scale(.8);
    transform-origin: top center;
    z-index: 9999;
    max-width: 150px;

    &::before {
        content: '';
        border-bottom: 10px solid var(--bs-white);
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        display: block;
        right: 20px;
        position: absolute;
        top: -10px;
    }
}
