.Footer {
    color: var(--bs-white);

    &-Block {
        background: var(--secondary-dark-color);
        //noinspection Stylelint
        border-bottom: 1px solid var(--primary-dark-color);
    }

    &-Notice {
        background: var(--secondary-base-color);
    }
}
