@import '../../style/abstract/media';

.Footer {
    position: relative;
    color: var(--bs-white);
    font-size: 13px;

    &-Block {
        padding: 60px 0 60px 0;
        background: var(--secondary-dark-color);
        border-bottom: 1px solid var(--primary-dark-color);

        &-Item {
            @include media(mobile, tablet) {
                margin-top: 20px;
            }

            @include mobile {
                &:nth-child(2),
                &:nth-child(3) {
                    max-width: 50%;
                    flex: 0 0 50%;
                }
            }

            @include tablet {
                &:first-child {
                    flex: 0 0 40%;
                    max-width: 40%;
                    width: 40%;
                }

                &:nth-child(2),
                &:nth-child(3) {
                    max-width: 30%;
                    flex: 0 0 30%;
                }

                &:nth-child(4) {
                    flex: 0 0 40%;
                    max-width: 40%;
                }

                &:last-child {
                    flex: 0 0 60%;
                    max-width: 60%;
                }
            }

            .Payment-Image {
                max-width: 5em;
                height: 25px;
                margin-right: 5px;

                @include tablet {
                    max-width: 3em;
                }
            }
        }
    }

    &-Notice {
        padding: 15px 0 15px 0;
        background: var(--secondary-base-color);

        @include media(mobile, tablet) {
            text-align: center;
        }

        .Copyright-Notice {
            color: var(--primary-dark-color);
        }
    }
}
