.Error-Boundary {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;

    &-Wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Tea {
        --tea-color: var(--primary-base-color);

        &-Bag {
            transform-origin: top center;
            transform: rotate(3deg);
            animation: swing 2s infinite;
        }

        .Steam-Large {
            stroke-dasharray: 13;
            stroke-dashoffset: 13;
            animation: steamLarge 2s infinite;
        }

        .Steam-Regular {
            stroke-dasharray: 9;
            stroke-dashoffset: 9;
            animation: steamSmall 2s infinite;
        }
    }
}
