@import '../../style/abstract/media';

.Products {
    @include tablet {
        .container {
            width: 100%;
            max-width: 100%;
        }
    }

    &-Special {
        width: 60%;
        margin: 0 auto;

        @include media(tablet, mobile) {
            width: 100%;
        }
    }

    &-Categories {
        display: flex;
        flex-wrap: wrap;
    }
}
