.Menu {
    position: relative;
    left: 0;
    width: 100%;
    box-shadow: 3px 3px 15px rgba(var(--black), .2);
    padding: 30px 0 30px 0;
    transition: all 500ms;

    &-Light {
        padding: 0 0;
        transition: all 500ms;
        background: rgba(255, 255, 255, .8);

        .Menu-Links .Button {
            color: var(--bs-black);
            border-color: var(--bs-black);
        }
    }

    &-Logo,
    &-Links {
        display: flex;
    }

    .Logo {
        max-height: 60px;
    }

    &-Links {
        justify-content: flex-end;
    }

    &-Logo-Text {
        justify-self: start;
        line-height: 0;
        margin: 0;
        padding: 0;
        color: var(--bs-white);
        text-transform: uppercase;
        text-align: center;
        font-weight: 800;
    }
}
